th, tr, td{
	border: 1px solid #eeedbe;
	border-collapse: collapse;
	background-color: #99b27f;
	color: #734444;	
}

body{
	background-color: #734444;
	color: #eeedbe;
	font-family: "Futura", sans-serif;
}

h1{
	background-color: #99b27f;
	display: inline;
	padding: 10px;
}

a{
	color: #eeedbe;
	background-color: #99b27f;
}

li{
}
