#abt-accordion .accordion-panel {
  flex: 1;
  cursor: pointer;
  transition: flex 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

#abt-accordion .panel-content {
  background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#abt-accordion .image-accordion-container .accordion-panel:hover {
  flex: 4;
}

#abt-accordion .accordion-panel:hover .panel-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.15s;
}

/*body{
		background-image: linear-gradient(to bottom, #9059BB, #22519F);
	}
	*/

hr {
  border: 2px solid #22519F;
  margin: auto;
  width: 80%;
  opacity: 1;
}

/*      PAST SEASONS        */
.pointer {
    cursor: pointer;
}

.info-button{
    margin-top: 260px;
}

body{
    background-color: lightblue;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #01013f;
}

h1{

}

/*           BUTTONS            */
.btn-custom {
  background-color: #FF9645;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #9059BB;
  color: white;
}

/*           NAVBAR            */
.nav-custom{
    background-color: #9059BB !important;
}

.nav-custom .navbar-brand {
    color: white;
}

.nav-custom .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #38B6FF;
}


/*           FOOTER            */
.footer-custom{
    background-color: #9059BB;
    color: white;
}

.footer-custom a{
    color: white;
}

/*           MISSON/VISION CARDS            */
.mision-card{
    background-color: #FF9645 !important;
    color: white;
}

.vision-card{
    background-color: #9059BB !important;
    color: white;
}

/*           QEUSTIONS            */
.qustions-card{
    background-color: #38B6FF !important;
    color: white !important;
    border-color: #22519F;
    --bs-card-border-color: #22519F;
}

.vr{
    background-color: #22519F;
    width: 3px;
    opacity: 1;
}

/*          CAROUSEL               */
.carousel-inner img {
    height: 350px;
    object-fit: cover;
    object-position: center;
}
